* {
	margin:0;
	padding:0;
}

body {
	background:url(./test_files/leadtemplate11_green_06.jpg) repeat left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	color:#363636;
	line-height:24px;
}

.headerRow {
  background: url(./test_files/leadtemplate11_green_02.jpg) repeat-x left top;
  min-height: 200px;
}

.topnav {
  background: url(./test_files/leadtemplate11_green_06.png) repeat-x scroll left top transparent;
  height: 25px;
  margin-bottom: 18px;
  margin-top: 10px;
  width: 400px;
}

.rightListItem {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff !important;
  font-size: 12px;

}
.callus {
  color: #FFF;
font-size: 24px;
font-weight: bold;
height: 40px;
line-height: 30px;
margin-bottom: 10px;
margin-right: 20px;
margin-top: 15px;
padding-left: 25px;
}

.bottomnav {
  background: url(./test_files/leadtemplate11_green_06.jpg) repeat-x scroll left top transparent;
}

.bottomListItem {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #171616;
  display: block;
  font-size: 18px;
  margin-right: 8px;
  padding: 28px 14px 29px;
}
